<div class="search-container">
  <h2>Search</h2>
  
  <div class="search-box">
    <input type="text" 
           ng-model="search.query" 
           ng-change="search.search()" 
           placeholder="Search for songs, artists, albums..."
           class="search-input">
  </div>
  
  <div class="loading" ng-if="search.searching">Searching...</div>
  
  <div class="search-results" ng-if="!search.searching && search.results.length > 0">
    <div class="song-list">
      <div class="song-item" ng-repeat="song in search.results">
        <img ng-src="{{song.coverUrl}}" alt="{{song.title}}">
        <div class="song-details">
          <h4>{{song.title}}</h4>
          <p>{{song.artist}} • {{song.album}}</p>
        </div>
        <div class="song-duration">{{song.duration | number:0}}s</div>
        <div class="song-actions">
          <button ng-click="search.playSong(song, $index)" class="btn-play">▶</button>
          <button ng-click="search.addToQueue(song)" class="btn-queue">+</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="no-results" ng-if="!search.searching && search.query && search.results.length === 0">
    No results found for "{{search.query}}"
  </div>
</div>
